{{ define "main" }}

<h1 class="title">$(whoami)</h1>
<div class="content">
  <p>I am a software engineer working at GlobalSign in the High Performance Platform. I am interested in Operating Systems, Algorithms and Data Structures development, Distributed Systems, Information Security, and Systems Programming. I am a regular atendee of the C++ London MeetUp Group.</p>
  <img src="/img/whoami/avatar.jpg"/>
  <p>In addition, I play handball for the Chelsea Handball Club in London. In my free time I like to read books, specially sci-fi and fantasy, play Magic The Gathering, and videogames.</p>
  <img src="/img/whoami/handball.jpg">
</div>

{{ end }}
