{{ define "main" }}

<h1 class="title">$(whoami)</h1>
<div class="content">
  <p>I am a Lead Software Engineer working at Paack. I am interested in Operating Systems, Algorithms and Data Structures development, Distributed Systems, Information Security, and Systems Programming. I am a regular attendee of the C++ London MeetUp Group (Virtually).</p>
  <img src="/img/whoami/avatar.jpg"/>
  <p>In my free time I play handball, I like to read books, specially sci-fi and fantasy, and I play Magic The Gathering and videogames.</p>
  <img src="/img/whoami/handball.jpg">
</div>

{{ end }}
