html {
  font-family: Monospace, /* Linux = DejaVu Sans Mono */
               Courier;   /* MacOSX & Windows = Courier */
}
body {
  font-size: 16px;
  max-width: 900px;  /* For Desktop PC (see @media for Tablets/Phones) */
  padding-left: 2ch;
  padding-right: 3ch;
  margin: 0 auto;
  background: #F5F5F5;
}

a {
  color: black;
  font-weight: bold;
}

img {
  border: none;
}

p {
  text-align: justify;
}

.head-title-wrapper {
  display: inline-block;
  vertical-align:middle;
}

.head-title {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.title-wrapper {
  text-align: justify;
  display: inline-block;
  width: 100%;
}

.title {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.post-link{
  padding-left: 1em;
  text-decoration: none;
}

.resume-programming-item label {
  width: 125px;
  float: left;
  display: block;
}

.resume-courses-item label {
  width: 150px;
  float: left;
  display: block;
}

@media screen and (max-width: 500px) { /* For small screen decices */
    body {
      font-size: 12px;
    }
    pre {
      font-size: 12px;
    }
    .post-item {
      font-size: 12px;
    }
    .head-title {
      font-size: 14px;
    }
}

/*
 * Projects
 *
 */
 .project-grid {
  display: grid;
  text-align: center;
  grid-auto-flow: row dense;
  grid-template-columns: 300px;
  grid-template-rows: 200px 200px 200px 200px 200px 200px;
  grid-gap: 15px 15px;
  justify-content: center;
}

@media (min-width: 41em) {
  .project-grid {
    grid-template-columns: 300px 300px;
    grid-template-rows: 200px 200px 200px;
  }
}

@media (min-width: 61em) {
  .project-grid {
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 200px;
  }
}

.project-grid-item {
  position: relative;
}

.project-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #303030;
}

.project-grid-item:hover .project-overlay {
  opacity: 1;
}

.project-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  ms-transform: translate(-50%, -50%);
}

.projects-title {
  text-align: center;
  font-size: 1rem;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}

.project-details-image {
  margin-left: auto;
  margin-right: auto;
}

.project-container p {
  text-align: justify;
}

.content-image {
  display: block;
  margin: 0.7rem auto;
  width: 100%;
  height: auto;
  max-width: 40em;
}

.content img {
  display: block;
  margin: 0.7rem auto;
  width: 100%;
  height: auto;
  max-width: 40em;
}

article table, th, td {
  border: 1px solid black;
}

footer {
  width: 100%;
  margin-top: 2em;
}

.footer-list {
  padding:0;
  margin:0;
  display: flex;
  list-style: none;
  justify-content:center;
}

.footer-item a {
  text-decoration: none;
  margin-right: 0.4em;
  font-size: 1.5em;
}