html {
  font-family: Monospace, /* Linux = DejaVu Sans Mono */
               Courier;   /* MacOSX & Windows = Courier */
}
body {
  font-size: 16px;
  max-width: 900px;  /* For Desktop PC (see @media for Tablets/Phones) */
  padding-left: 2ch;
  padding-right: 3ch;
  margin: 0 auto;
  background: #F5F5F5;
}

a {
  color: black;
  font-weight: bold;
}

img {
  border: none;
}

p {
  /*
  margin-top: 0px;
  margin-bottom: 2ch;
   */
  text-align: justify;
}

/*
sup {
  vertical-align: 0.3em;
  font-size: 0.65em;
}

pre {
  font-size: 16;
  background-color: white;
  border: 1px solid Black;
  padding-left: 2ch;
  padding-top: 1ch;
  padding-bottom: 1ch;
}

div {
  text-transform: uppercase;
}
*/

.head-title-wrapper {
  display: inline-block;
  vertical-align:middle;
}

.head-title {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.title-wrapper {
  text-align: justify;
  display: inline-block;
  width: 100%;
}

.title {
  text-decoration: none;
  text-transform: uppercase;
}

.post-list {
  padding-top: 5em;
}

.post-link{
  padding-left: 1em;
  text-decoration: none;
}

.resume-programming-item label {
  width: 125px;
  float: left;
  display: block;
}

.resume-courses-item label {
  width: 150px;
  float: left;
  display: block;
}

@media screen and (max-width: 500px) { /* For small screen decices */
    body {
      font-size: 12px;
    }
    pre {
      font-size: 12px;
    }
    .post-item {
      font-size: 12px;
    }
    .head-title {
      font-size: 14px;
    }
}
