<center>
  <footer>
    <div class="footer-list">
      <div class="footer-item">
        <a href="https://github.com/maitesin"><img class="footer-logo" src="{{ .Site.BaseURL }}img/logos/github.png" /></a>
      </div>
      <div class="footer-item">
        <a href="https://infosec.exchange/@maitesin"><img class="footer-logo" src="{{ .Site.BaseURL }}img/logos/mastodon.png" /></a>
      </div>
      <div class="footer-item">
        <a href="https://linkedin.com/in/oscarforner"><img class="footer-logo" src="{{ .Site.BaseURL }}img/logos/linkedin.png" /></a>
      </div>
    </div>
  </footer>
</center>
