<center>
  <footer>
    <div class="footer-list">
      <div class="footer-item">
        <a href="https://github.com/maitesin"><i class="fa fa-github"></i></a>
      </div>
      <div class="footer-item">
        <a href="https://gitlab.com/maitesin"><i class="fa fa-gitlab"></i></a>
      </div>
      <div class="footer-item">
        <a href="http://twitter.com/oscar_forner"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="footer-item">
        <a href="http://linkedin.com/in/oscarforner"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </footer>
</center>