<head>
  <title>{{ .Site.Title }}</title>

  <!-- Responsive -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Simple CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/simple.css" />

  <!-- Code highlighting -->
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/solarized-dark.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
