{{ define "main" }}

<h1 class="title">Resume</h1>
<div class="resume-description">
    <p><strong>This is an HTML version</strong>. In <a href="/projects/resume">here</a> you can find an <strong>interactive application version</strong> and in <a href="https://github.com/maitesin/resume/raw/master/resume.pdf">here</a> you can download a <strong>PDF version</strong>.</p>
  </div>
  <fieldset class="resume-fieldset fieldset-experience">
    <legend>Experience</legend>
    <div class="resume-section resume-experience">
      <details>
        <summary>2021 - 2024: Software Engineer at Sketch</summary>
      <p>For the first 2 years I worked as the single Backend Engineer for the <strong>Prototype Team</strong>. My duties for the team were to implement all the different Prototype features required such as <strong>assets generation, regeneration on-demand, invalidation, and deletion from S3 buckets</strong>. These features had to be implemented in different number of services implemented in <strong>Elixir and Go</strong></p>
      <p>Afterwards, the teams got disolved and we started working on verticals. In my case, I was part of the <strong>Web vertical</strong>. During my time as part of the Web vertical I worked on multiple projects such as <strong>permission groups, optimization of the rendering pipeline, optimization of the ingestion pipeline, workers to remove unused data from S3 buckets, etc</strong>. These projects also required to modify or implement services in <strong>Elixir and Go</strong></p>
      </details>
      <details>
        <summary>2020 - 2021: Lead Software Engineer at Paack</summary>
        <p>During my time in Paack I have worked in the <strong>Warehouse Management System</strong>, a new platform to allow parcels to be scanned and assigned to routes in a timely fashion. Moreover, I lead the revamp of the <strong>Business Rules Management System</strong>, a platform to allow Product People to change the rules applied to deliveries without having to change code. During this reworked the <strong>whole architecture of the system changed</strong>, and a new UI was developed to fulfill the new requirements. I also had to design and implement the <strong>migration process for the system to avoid downtime</strong>.</p>
        <p>In addition, I have also worked on the development of the <strong>New Retailer API</strong> that handles the traffic from all the new retailers and it has become the new way to integrate against Paack.</p>
        <p>As part of my role as Lead Software Engineer I mentored several people in my team and I was heavily involved in the hiring process of the company.</p>
      </details>
      <details>
        <summary>2018 - 2020: Senior Software Engineer at GlobalSign</summary>
        <p><strong>High Performance Platform</strong>: Serves thousands of request to generate SSL certificates per second. I took care of the migration of backend storage from MongoDB to PostgreSQL.</p>
        <p><strong>Kubernetes prototype</strong>: I implemented a prototype of the system used in production to test the feasibility of a future migration.</p>
        <p><strong>Others</strong>: I Mentored multiple new-hires and had a highly involved role in the hiring process. As a side project I developed an static analysis tool to enforce the code style used in the company.</p>
      </details>
      <details>
        <summary>2016 - 2018: Software Engineer at VCA Technology</summary>
        <p><strong>Network library</strong>: Allows the user to interact with Boost ASIO through the <i>std::stream</i> interface.</p>
        <p><strong>Tools</strong>: Improve the toolchain used internally to allow the usage of <i>clang-tidy</i> for the linting of our code. Another tool allows to switch between several versions of the toolchain without having to change the environment.</p>
        <p><strong>Backend development</strong>: Several activities regarding the extension and implementation of new features in the backend of the product such as <i>Authentication</i> and <i>GStreamer sinks</i>.</p>
      </details>
      <details>
        <summary>2015 - 2016: Software Developer at Programming Research</summary>
        <p><strong>Static analysis of code</strong>: Checks if the code has some patterns that have an <i>undefined behaviour</i>, <i>unspecified in the Standard</i>, and/or <i>implementation-defined</i>.</p>
        <p><strong>Dataflow analysis of code</strong>: Checks the complexity of methods, pointer problems, memory handling, etc.</p>
        <p>Took over two projects to refactor, maintain and add new features.</p>
      </details>
      <details>
        <summary>2013 - 2015: Software Engineer at European Bioinformatics Institute</summary>
        <p><strong>RESTful service</strong>: Allows users to query for information about complexes in the database.</p>
	      <p><strong>Cluster algorithm</strong>: Developed a new algorithm to cluster biological information from proteins.</p>
      </details>
      <details>
        <summary>2013 - Present: Open Source</summary>
        <p><strong><a href="https://yaus.dev">YAUS</a></strong>: A URL Shortener writen in <strong>Go</strong> and deployed in <a href="https://heroku.com">Heroku</a>.</p>
          <p><strong><a href="https://github.com/maitesin/tries">Prefix Tree Comparison</a></strong>: Compare performance for different <strong>Trie</strong>, <strong>Ternary Search Tree</strong> and <strong>Radix Tree</strong>.<p>
          <p><strong><a href="https://github.com/maitesin/acc">ARM C Compiler (ACC)</a></strong>: I am creating a <strong>self-hosting compiler</strong> for <strong>C</strong> in the <strong>ARM</strong> architecture.</p>
          <p><strong><a href="https://github.com/maitesin/rust-cv">Interactive CV</a></strong>: Application built in <strong>Rust</strong> and with <strong>Docker</strong> to show my resume in an interactive way.</p>
      </details>
    </div>
  </fieldset>
  <fieldset class="resume-fieldset fieldset-programming">
    <legend>Programming Languages</legend>
    <div class="resume-section resume-programming">
      <ul class="resume-list">
        <li class="resume-list-item resume-programming-item"><label><strong>Go</strong></label><progress value="90" max="100">90%</progress> 90%</li>
        <li class="resume-list-item resume-programming-item"><label><strong>C++11/14</strong></label><progress value="85" max="100">85%</progress> 85%</li>
        <li class="resume-list-item resume-programming-item"><label><strong>Python</strong></label><progress value="85" max="100">85%</progress> 85%</li>
        <li class="resume-list-item resume-programming-item"><label><strong>C</strong></label><progress value="80" max="100">80%</progress> 80%</li>
        <li class="resume-list-item resume-programming-item"><label><strong>Bash</strong></label><progress value="75" max="100">75%</progress> 75%</li>
        <li class="resume-list-item resume-programming-item"><label><strong>Elixir</strong></label><progress value="50" max="100">50%</progress> 50%</li>
        <li class="resume-list-item resume-programming-item"><label><strong>Rust</strong></label><progress value="25" max="100">25%</progress> 25%</li>
      </ul>
    </div>
  </fieldset>
  <fieldset class="resume-fieldset fieldset-programming">
    <legend>Operating Systems</legend>
    <div class="resume-section resume-programming">
      <ul class="resume-list">
          <li class="resume-list-item resume-programming-item"><label><strong>GNU/Linux</strong></label><progress value="95" max="100">95%</progress> 95%</li>
          <li class="resume-list-item resume-programming-item"><label><strong>FreeBSD</strong></label><progress value="85" max="100">85%</progress> 85%</li>
          <li class="resume-list-item resume-programming-item"><label><strong>OpenBSD</strong></label><progress value="70" max="100">70%</progress> 70%</li>
          <li class="resume-list-item resume-programming-item"><label><strong>Minix</strong></label><progress value="35" max="100">35%</progress> 35%</li>
      </ul>
    </div>
  </fieldset>
  <fieldset class="resume-fieldset fieldset-skills">
    <legend>Technical Skills</legend>
    <div class="resume-section resume-skills">
      <details>
        <summary>Build Systems</summary>
        <ul class="resume-list">
          <li class="resume-list-item resume-analysis-item"><label><a href="https://cmake.org/">CMake</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="http://mesonbuild.com/">Meson</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="https://www.gnu.org/software/make/">Make</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="https://ninja-build.org/">Ninja</a></label></li>
        </ul>
      </details>
      <details>
        <summary>Continuous Integration</summary>
        <ul class="resume-list">
          <li class="resume-list-item resume-analysis-item"><label><a href="https://docs.github.com/en/actions">GitHub Actions</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="https://docs.gitlab.com/ee/ci/">Gitlab CI</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="https://jenkins.io/">Jenkins</a></label></li>
        </ul>
      </details>
      <details>
        <summary>Databases</summary>
        <details>
          <summary style="margin-left: 20px">SQL</summary>
          <ul class="resume-list">
            <li class="resume-list-item resume-analysis-item"><label><a href="https://www.postgresql.org/">PostgreSQL</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://www.cockroachlabs.com/">CockroachDB</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://mariadb.org/">MariaDB</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://www.sqlite.org/index.html">SQLite</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://www.mysql.com/">MySQL</a></label></li>
          </ul>
        </details>
        <details>
          <summary style="margin-left: 20px">NoSQL</summary>
          <ul class="resume-list">
            <li class="resume-list-item resume-analysis-item"><label><a href="https://www.mongodb.com">MongoDB</a></label></li>
          </ul>
        </details>
      </details>
      <details>
        <summary>Libraries/Frameworks</summary>
        <details>
          <summary style="margin-left: 20px">C++</summary>
          <ul class="resume-list">
            <li class="resume-list-item resume-analysis-item"><label><a href="https://www.boost.org/">Boost</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://think-async.com/Asio/">ASIO</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://developers.google.com/protocol-buffers/">Protocol Buffers</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://github.com/google/googletest">Google Test</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://github.com/catchorg/Catch2">Catch2</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://github.com/google/googlemock">Google Mock</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://llvm.org/">LLVM</a></label></li>
          </ul>
        </details>
        <details>
          <summary style="margin-left: 20px">C</summary>
          <ul class="resume-list">
            <li class="resume-list-item resume-analysis-item"><label><a href="https://www.openssl.org/">OpenSSL</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="http://www.throwtheswitch.org/unity">Unity</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://github.com/meekrosoft/fff">FFF</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://www.libhttp.org/">LibHTTP</a></label></li>
          </ul>
        </details>
        <details>
          <summary style="margin-left: 20px">Python</summary>
          <ul class="resume-list">
              <li class="resume-list-item resume-analysis-item"><label><a href="http://flask.pocoo.org/">Flask</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://www.djangoproject.com/">Django</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://www.palletsprojects.com/p/jinja/">Jinja</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="http://python-requests.org/">Requests</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://scrapy.org/">Scrapy</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://palletsprojects.com/p/click/">Click</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://www.sqlalchemy.org/">SQLAlchemy</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="http://www.sphinx-doc.org/en/master/">Sphinx</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="http://pygments.org/">Pygments</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://www.scipy.org/">SciPy</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://www.numpy.org/">NumPy</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://github.com/cool-RR/PySnooper">PySnooper</a></label></li>
          </ul>
        </details>
      </details>
      <details>
        <summary>Orchestration</summary>
        <ul class="resume-list">
          <li class="resume-list-item resume-analysis-item"><label><a href="https://kubernetes.io">Kubernetes</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="https://docs.docker.com/compose/">Docker Compose</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="https://istio.io/">Itsio</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="https://helm.sh/">Helm</a></label></li>
        </ul>
      </details>
      <details>
        <summary>Security</summary>
        <ul class="resume-list">
          <li class="resume-list-item resume-analysis-item"><label><a href="https://www.metasploit.com/">Metasploit</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="https://rada.re/r/">Radare2</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="https://www.hex-rays.com/products/ida/">IDA Pro</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="https://www.monkey.org/~dugsong/dsniff/">dsniff</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="https://www.openssl.org/">OpenSSL</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="https://www.openbsd.org/faq/pf/index.html">pf</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="http://sqlmap.org/">sqlmap</a></label></li>
          <li class="resume-list-item resume-analysis-item"><label><a href="https://scapy.net/">scapy</a></label></li>
        </ul>
      </details>
      <details>
        <summary>Static/Dynamic Analysis</summary>
          <details>
          <summary style="margin-left: 20px">C++</summary>
          <ul class="resume-list">
            <li class="resume-list-item resume-analysis-item"><label><a href="https://github.com/google/sanitizers">Clang sanitizers</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="http://www.valgrind.org/">Valgrind</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://www.perforce.com/products/helix-qac">Helix QAC</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://scan.coverity.com/">Coverity</a></label></li>
          </ul>
        </details>
      </details>
      <details>
        <summary>Tools</summary>
        <details>
          <summary style="margin-left: 20px">C++</summary>
          <ul class="resume-list">
            <li class="resume-list-item resume-analysis-item"><label><a href="https://clang.llvm.org/docs/ClangFormat.html">Clang-format</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://clang.llvm.org/extra/clang-tidy/">Clang-tidy</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://github.com/root-project/cling">Cling</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="http://cscope.sourceforge.net/">Cscope</a></label></li>
            <li class="resume-list-item resume-analysis-item"><label><a href="https://github.com/universal-ctags/ctags">Ctags</a></label></li>
          </ul>
        </details>
        <details>
          <summary style="margin-left: 20px">Debuggers</summary>
          <ul class="resume-list">
              <li class="resume-list-item resume-analysis-item"><label><a href="https://www.gnu.org/software/gdb/">GDB</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://github.com/go-delve/delve">Delve</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://docs.python.org/3/library/pdb.html">PDB</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://rr-project.org/">rr Mozilla</a></label></li>
          </ul>
        </details>
        <details>
          <summary style="margin-left: 20px">Network</summary>
          <ul class="resume-list">
              <li class="resume-list-item resume-analysis-item"><label><a href="https://www.wireshark.org/">Wireshark</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="http://netcat.sourceforge.net/">netcat</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://www.tcpdump.org/manpages/tcpdump.1.html">tcpdump</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://nmap.org/">nmap</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://www.stunnel.org/">stunnel</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://www.getpostman.com/">Postman</a></label></li>
          </ul>
        </details>
        <details>
          <summary style="margin-left: 20px">System</summary>
          <ul class="resume-list">
              <li class="resume-list-item resume-analysis-item"><label><a href="https://github.com/bcicen/ctop">ctop</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="http://dtrace.org/blogs/about/">dtrace</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://www.linux-kvm.org/page/Main_Page">KVM</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://www.openssl.org/">OpenSSL</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://perf.wiki.kernel.org/index.php/Main_Page">Perf</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://github.com/wagoodman/dive">dive</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://stedolan.github.io/jq/">jq</a></label></li>
              <li class="resume-list-item resume-analysis-item"><label><a href="https://github.com/junegunn/fzf">fzf</a></label></li>
          </ul>
        </details>
      </details>
    </div>
  </fieldset>
  <fieldset class="resume-fieldset fieldset-courses">
    <legend>Courses</legend>
    <div class="resume-section resume-courses">
      <details>
        <summary>Agile</summary>
        <ul class="resume-list">
          <li class="resume-list-item resume-courses-item"><label>August 2015</label> - <strong>Agile for developers</strong></li>
        </ul>
      </details>
      <details>
        <summary>Algorithms</summary>
        <ul class="resume-list">
          <li class="resume-list-item resume-courses-item"><label>November 2014</label> - <strong>Algorithms, Part II</strong></li>
          <li class="resume-list-item resume-courses-item"><label>September 2014</label> - <strong>Algorithms, Part I</strong></li>
        </ul>
      </details>
      <details>
        <summary>Cryptography</summary>
        <ul class="resume-list">
          <li class="resume-list-item resume-courses-item"><label>September 2018</label> - <strong>Cryptography: The Big Picture</strong></li>
          <li class="resume-list-item resume-courses-item"><label>July 2018</label> - <strong>SSCP: Cryptography</strong></li>
          <li class="resume-list-item resume-courses-item"><label>June 2018</label> - <strong>Cryptography and PKI afor CompTIA Security+</strong></li>
        </ul>
      </details>
      <details>
        <summary>Go</summary>
        <ul class="resume-list">
          <li class="resume-list-item resume-courses-item"><label>March 2018</label> - <strong>Building Distributed Applications with Go</strong></li>
          <li class="resume-list-item resume-courses-item"><label>January 2018</label> - <strong>Scaling Go Applications Horizontally</strong></li>
          <li class="resume-list-item resume-courses-item"><label>November 2017</label> - <strong>Concurrent Programming with Go</strong></li>
          <li class="resume-list-item resume-courses-item"><label>September 2017</label> - <strong>Creating Well-tested Applications in Go</strong></li>
          <li class="resume-list-item resume-courses-item"><label>June 2017</label> - <strong>The Go CLI Playbook</strong></li>
          <li class="resume-list-item resume-courses-item"><label>May 2017</label> - <strong>Go Fundamentals</strong></li>
          <li class="resume-list-item resume-courses-item"><label>March 2017</label> - <strong>Go: Getting Started</strong></li>
        </ul>
      </details>
      <details>
        <summary>Kubernetes</summary>
        <ul class="resume-list">
          <li class="resume-list-item resume-courses-item"><label>May 2019</label> - <strong>Kubernetes Installation and Configuration Fundamentals</strong></li>
          <li class="resume-list-item resume-courses-item"><label>February 2019</label> - <strong>Docker and Kubernetes: The Big Picture</strong></li>
          <li class="resume-list-item resume-courses-item"><label>December 2018</label> - <strong>Getting Started with Kubernetes</strong></li>
        </ul>
      </details>
      <details>
        <summary>Linux Kernel</summary>
        <ul class="resume-list">
          <li class="resume-list-item resume-courses-item"><label>April 2016</label> - <strong>LFD331: Developing Linux Device Drivers</strong></li>
          <li class="resume-list-item resume-courses-item"><label>March 2016</label> - <strong>LFD320: Linux Kernel Internals and Debugging</strong></li>
        </ul>
      </details>
      <details>
        <summary>Python</summary>
        <ul class="resume-list">
          <li class="resume-list-item resume-courses-item"><label>November 2016</label> - <strong>Advanced Python</strong></li>
          <li class="resume-list-item resume-courses-item"><label>September 2016</label> - <strong>Python - Beyond the Basics</strong></li>
          <li class="resume-list-item resume-courses-item"><label>July 2016</label> - <strong>Python Fundamentals</strong></li>
        </ul>
      </details>
    </div>
  </fieldset>
  <fieldset class="resume-fieldset fieldset-education">
    <legend>Education</legend>
    <div class="resume-section resume-education">
      <details>
        <summary>2010 - 2013: Bachelor of Engineering in Computer Science; Universitat Jaume I (Spain)</summary>
        <ul class="resume-list">
          <li class="resume-list-item">Advanced Data Structures</li>
          <li class="resume-list-item">Advanced Operating Systems</li>
          <li class="resume-list-item">Compilers and Interpreters</li>
          <li class="resume-list-item">Distributed Systems</li>
        </ul>
      </details>
      <details>
        <summary>2006 - 2010: Associate Degree in Computer Science; Universitat Jaume I (Spain)</summary>
        <ul class="resume-list">
          <li class="resume-list-item">Concurrent Programming</li>
          <li class="resume-list-item">Real Time Operating Systems</li>
          <li class="resume-list-item">Embedded Systems</li>
        </ul>
      </details>
    </div>
  </fieldset>
  <fieldset class="resume-fieldset fieldset-languages">
    <legend>Languages</legend>
    <div class="resume-section resume-languages">
      <ul class="resume-list">
        <li class="resume-list-item">Spanish: Native</li>
        <li class="resume-list-item">English: Fluent</li>
      </ul>
    </div>
  </fieldset>

{{ end }}
